<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Sleek Style</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/userAssets/assets/imgs/theme/sleek-style-logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/userAssets/assets/css/maind134.css?v=3.4">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body >
    <!-- header section---- -->
    <%-include('header')-%>
    
    
    

   
    <main class="main">
        <section class="home-slider position-relative">
            <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1">
                
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="slider-1-height-2 slider-animated-1">
                            <div class="hero-slider-content-2">
                                <h5 class="animated">Tech Promotions</h5>
                                <h3 class="animated fw-900">Tech Trending</h3>
                                <h3 class="animated fw-900 text-brand">Great Collection</h3>
                                <p class="animated">Save more with coupons & up to 20% off</p>
                                <a class="animated btn btn-brush btn-brush-1" href="/shop"> Shop Now </a>
                            </div>
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated" src="/public/banner slide 2.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="slider-1-height-2 slider-animated-1">
                            <div class="hero-slider-content-2">
                                <h5 class="animated">Upcoming Offer</h5>
                                <h3 class="animated fw-900">Big Deals From</h3>
                                <h2 class="animated fw-900 text-brand">Manufacturer</h2>
                                <p class="animated">Headphone, Gaming Laptop, PC and more...</p>
                                <a class="animated btn btn-brush btn-brush-3" href="/shop"> Shop Now </a>
                            </div>
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated" src="/public/banner top 1.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none col-12">
                    <img src="/public/1122.webp "">
                    <div class="banner-text d-md-block d-none">
                        <h4 class="mb-15 mt-40 text-brand">Sale is on!!</h4>
                        <h1 class="fw-600 mb-20">Fashion week <br>Authorised Service Provider</h1>
                        <a href="shop-grid-right.html" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <!-- <section class="banners mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="/public/userAssets/assets/imgs/banner/banner-1.png" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>Woman Bag</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="/public/userAssets/assets/imgs/banner/banner-2.png" alt="">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4>Great Summer <br>Collection</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="/public/userAssets/assets/imgs/banner/banner-3.png" alt="">
                            <div class="banner-text">
                                <span>New Arrivals</span>
                                <h4>Shop Today’s <br>Deals & Offers</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- <div class="col-lg-3">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <li><a href="shop-grid-right.html">Shoes & Bags</a></li>
                                <li><a href="shop-grid-right.html">Blouses & Shirts</a></li>
                                <li><a href="shop-grid-right.html">Dresses</a></li>
                                <li><a href="shop-grid-right.html">Swimwear</a></li>
                                <li><a href="shop-grid-right.html">Beauty</a></li>
                                <li><a href="shop-grid-right.html">Jewelry & Watch</a></li>
                                <li><a href="shop-grid-right.html">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                            <ul class="categories">
                                <li><a href="shop-grid-right.html">Popularity</a></li>
                                <li><a href="shop-grid-right.html">Average rating</a></li>
                                <li><a href="shop-grid-right.html">Price: Low to High</a></li>
                                <li><a href="shop-grid-right.html">Price: High to Low</a></li>
                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                            <ul class="categories">
                                <li><a href="shop-grid-right.html">$0-$200</a></li>
                                <li><a href="shop-grid-right.html">$200-$400</a></li>
                                <li><a href="shop-grid-right.html">$400-$600</a></li>
                                <li><a href="shop-grid-right.html">$600-$800</a></li>
                                <li><a href="shop-grid-right.html">800$+</a></li>
                            </ul>
                        </div>
                        <div class="banner-img wow fadeIn mb-45mb-lg-0 animated d-lg-block d-none">
                            <img src="/public/userAssets/assets/imgs/banner/banner-11.jpg" alt="">
                            <div class="banner-text">
                                <span>Women Zone</span>
                                <h4>Save 17% on <br>Office Dress</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-9" style="width: 100%;">
                        <!-- <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                                </li>
                            </ul>
                            <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                        </div> -->
                        <!--End nav-tabs-->

                        <section class="popular-categories section-padding mt-15">
                            <div class="container wow fadeIn animated">
                                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                                <div class="carausel-6-columns-cover position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                                    <div class="carausel-6-columns" id="carausel-6-columns">
                                        <%if(categories){ %>
                                            <% categories.forEach((item)=>{%>
                                                <div class="card-1">
                                                    <figure class=" img-hover-scale overflow-hidden">
                                                        <!-- <a href="shop-grid-right.html"><img src="public/userAssets/assets/imgs/shop/category-thumb-1.jpg" alt=""></a> -->
                                                    </figure>
                                                    <h5><a href="/shop/category?filterCat=<%=item._id %>"><%=item.name %></a></h5>
                                                </div> 
                                            <%}) %>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!------New Arrivals----- -->
                        <section class="section-padding">
                            <div class="container wow fadeIn animated">
                                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                                <div class="carausel-6-columns-cover position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                                        <% newArrivals.forEach((item,index)=>{ %>
                                        <div class="product-cart-wrap small hover-up">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/product/<%=item._id %>">
                                                        <% item.image.forEach((image)=>{ %>
                                                        <img class="default-img" src="/uploads/<%=image %>" alt="">
                                                        <img class="hover-img" src="/uploads/<%=image %>"" alt="">
                                                        <% }) %>
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" onclick="addToWishlist('<%=item._id%>','<%=index%>')" tabindex="0">
                                                        <i class="fi-rs-heart"></i>
                                                    </a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="/product/<%=item._id %>"><%=item.title %></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>Rs <%=item.price.offerPrice %> </span>
                                                    <span class="old-price">Rs <%=item.price.regularPrice %></span>
                                                </div>
                                            </div>
                                        </div>
                                        <%}) %>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!----End of new Arrivals -->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row product-grid-4">

                                    <!---Products grid foreach--->
                                    <% products.forEach((item,index)=>{ %>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6 ">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/product/<%=item._id %>">
                                                            <% item.image.forEach((images)=>{ %>
                                                                <img class="default-img" src="/uploads/<%=images %>" alt="">
                                                                <img class="hover-img" src="/uploads/<%=images %>" alt="">
                                                            <% }) %>
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a id="wishlistHeartId_<%=index %>" aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%=item._id%>','<%=index%>')"><i class="fi-rs-heart"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        
                                                        <% let categoryWithOffer = categories.find((data) => item.category.toString() === data._id.toString() && data.offer && data.offer.discountPercent);%>
                                                        <% if (categoryWithOffer) { %>
                                                            <span class="hot"><%= categoryWithOffer.offer.discountPercent %>%</span>
                                                        <% } %>
                                                        
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="shop-grid-right.html">Clothing</a>
                                                    </div>
                                                    <h2><a href="shop-product-right.html"><%=item.title %></a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                            <span>90%</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                    <% if(item.price.offerPrice == item.price.regularPrice){ %>
                                                        <span >Rs <%=item.price.regularPrice %></span>
                                                        <% }else{%>
                                                            <span>Rs <%=item.price.offerPrice %> </span>
                                                            <span class="old-price">Rs <%=item.price.regularPrice %></span>
                                                    <% }%>
                                                    </div>
                                                    <div class="product-action-1 show">
                                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                    
                                   
                                <!--End product-grid-4-->
                            </div>
                           
                            
                        </div>
                        <!--End tab-content-->
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-2 section-padding pb-0">
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="/public/9be788ff-39a4-4214-99d0-fc97505aae5a1658752545685-USPA_Desk_Banner.webp" alt="">
                    <div class="banner-text d-md-block d-none">
                        <h4 class="mb-15 mt-40 text-brand">Sale is on!!</h4>
                        <h1 class="fw-600 mb-20">Fashion week <br>Authorised Service Provider</h1>
                        <a href="shop-grid-right.html" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
    </main>
    
    <!-- footer section -->
    <%-include('footer')%>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        async function addToWishlist(productId,index){
            const wishlistHeartId= document.getElementById(`wishlistHeartId_${index}`)
            console.log(wishlistHeartId);
            const response = await fetch('/wishlist',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({productId})
            })
            const data = await response.json()
            if(data.success){
                // wishlistHeartId.style.display = 'none'
                const Toast = Swal.mixin({
                                    toast: true,
                                    position: "bottom",
                                    showConfirmButton: false,
                                    timer: 1800,
                                    timerProgressBar: false,
                                });
                                Toast.fire({
                                    icon: "success",
                                    title: "Product added to wishlist"
                                })
            }else{
                const Toast = Swal.mixin({
                                    toast: true,
                                    position: "bottom",
                                    showConfirmButton: false,
                                    timer: 1800,
                                    timerProgressBar: false,
                                });
                                Toast.fire({
                                    icon: "warning",
                                    title: data.message
                                })
            }
        }
    </script>
    <%-include('foot')-%>