<%-include('head')-%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%-include('header')-%>

        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Home</a>
                        <span></span> Account
                    </div>
                </div>
            </div>
            <section class="pt-150 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 m-auto">
                            <div class="row">
                                <div class="col-md-8" style="display: contents;">
                                    <div id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Edit user address</h5>
                                            </div>
                                            <div class="card-body">
                                                <form id="form">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Name <span class="required">*</span></label>
                                                            <input id="nameId" class="form-control square"
                                                                value="<%=findAddress?findAddress.name:'' %>"
                                                                name="name" type="text">
                                                            <p>
                                                            <div id="name_error" style="display: none;"
                                                                class="text-danger"></div>
                                                            </p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>10 digit phone number <span
                                                                    class="required">*</span></label>
                                                            <input id="mobileId" class="form-control square"
                                                                value="<%=findAddress?findAddress.mobile:'' %>"
                                                                name="phone" type="number">
                                                            <p>
                                                            <div id="phone_error" style="display: none;"
                                                                class="text-danger"></div>
                                                            </p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Pincode <span class="required">*</span></label>
                                                            <input id="pincodeId" class="form-control square"
                                                                value="<%=findAddress?findAddress.pincode:'' %>"
                                                                name="pincode" type="number">
                                                            <p>
                                                            <div id="pincode_error" style="display: none;"
                                                                class="text-danger"></div>
                                                            </p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Locality <span class="required">*</span></label>
                                                            <input id="localityId" class="form-control square"
                                                                value="<%=findAddress?findAddress.locality:'' %>"
                                                                name="locality" type="text">
                                                            <p>
                                                            <div id="locality_error" style="display: none;"
                                                                class="text-danger"></div>
                                                            </p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>address(Area and Locality) <span
                                                                    class="required">*</span></label>
                                                            <textarea id="addressId" class="square" name="address"
                                                                type="text"><%=findAddress?findAddress.address:'' %></textarea>
                                                            <p>
                                                            <div id="address_error" style="display: none;"
                                                                class="text-danger"></div>
                                                            </p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>District <span class="required">*</span></label>
                                                            <input id="districtId" class="form-control square"
                                                                value="<%=findAddress?findAddress.district:'' %>"
                                                                name="district" type="text">
                                                            <p>
                                                            <div id="district_error" style="display: none;"
                                                                class="text-danger"></div>
                                                            </p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>State <span class="required">*</span></label>
                                                            <input id="stateId" class="form-control square"
                                                                value="<%=findAddress?findAddress.state:'' %>"
                                                                name="state" type="text">
                                                            <p>
                                                            <div id="state_error" style="display: none;"
                                                                class="text-danger"></div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" id="editbtn" class="btn btn-fill-out "
                                                            name="submit" value="click"
                                                            onclick="editBtn(event,'<%=findAddress._id%>')">Edit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script src="/public/userAssets/assets/js/validation/userAddressValidation.js"></script>

        <!----- fetch script tag-------->
        <script>
            //Onclick edit button 
            async function editBtn(e, addressId) {
                e.preventDefault()
                nameValidate()
                mobileValidate()
                pincodeValidate()
                localityValidate()
                addressValidate()
                districtValidate()
                stateValidate()
                if (nameErr.style.display == 'block' ||
                    mobileErr.style.display == 'block' ||
                    pincodeErr.style.display == 'block' ||
                    localityErr.style.display == 'block' ||
                    addressErr.style.display == 'block' ||
                    districtErr.style.display == 'block' ||
                    stateErr.style.display == 'block') {
                    return
                }

                const form = document.getElementById('form')
                const formData = new FormData(form)
                const jsonFormData = {}
                formData.forEach((value, key) => {
                    jsonFormData[key] = value
                })
                let dataToSend = { ...jsonFormData, addressId }
                await fetch(`/checkout/edit_address`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dataToSend)
                })
                    .then((res) => {
                        return res.json()
                    })
                    .then((res) => {
                        console.log(res);
                        if (res.success == true) {
                            Swal.fire({
                                title: "Are you sure?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, update it!"
                            }).then((result) => {
                                console.log(result);
                                if (result.isConfirmed) {
                                    Swal.fire({
                                        title: "Updated!",
                                        text: "Address has been updated.",
                                        icon: "success",
                                        showConfirmButton: true,
                                    })
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '/checkout'
                                            }
                                        })
                                }
                            })
                        } else {
                            console.log('error while saving user delivery address');
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }
        </script>


        <%-include('foot') %>