<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->

<head>
    <meta charset="utf-8">
    <title>Sleek style Men's fashion store</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"
        href="/public/userAssets/assets/imgs/theme/sleek-style-logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/userAssets/assets/css/maind134.css?v=3.4">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- header section---- -->
    <%-include('header')-%>
        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Home</a>
                        <span></span> Shop
                        <span></span> Wishlist
                    </div>
                </div>
            </div>
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col" colspan="2">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock Status</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(proInWishlist){ %>
                                            <% proInWishlist.forEach((item, index)=>{ %>
                                                <tr id="productRowId_<%=index %>">
                                                    <td class="image product-thumbnail"><a
                                                            href="/product/<%=item._id %>"><img
                                                                src="/uploads/<%=item.image[0] %>" alt="#"></a></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a href="/product/<%=item._id %>">
                                                                <%=item.title %>
                                                            </a></h5>
                                                        <!-- <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus. -->
                                                        </p>
                                                    </td>
                                                    <td class="price" data-title="Price">
                                                        <span>
                                                            <% if(item.price.offerPrice==item.price.regularPrice){ %>
                                                                <span>Rs <%=item.price.regularPrice %></span>
                                                                <% }else{%>
                                                                    <span>Rs <%=item.price.offerPrice %> </span>
                                                                    <% }%>
                                                        </span>
                                                    </td>
                                                    <td class="text-center" data-title="Stock">
                                                        <span class="color3 font-weight-bold">
                                                            <% if(item.size.small.quantity==0 &&
                                                                item.size.medium.quantity==0 &&
                                                                item.size.large.quantity==0){ %>
                                                                <p class="text-danger">Out of stock</p>
                                                                <% }else{ %>
                                                                    In stock
                                                                    <% } %>
                                                        </span>
                                                    </td>
                                                    <td class="action" data-title="Remove"><a
                                                            onclick="deleteWishlist('<%=item._id%>','<%=index%>')"><i
                                                                class="fi-rs-trash"></i></a></td>
                                                </tr>

                                                <% }) %>
                                                    <% } %>
                                    </tbody>
                                </table>
                                <% if(!proInWishlist){ %>
                                    <h4 class="d-flex justify-content-center">WISHLIST EMPTY!!</h4>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        // Footer section
        <%-include('footer')%>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-5">Now Loading</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            async function deleteWishlist(proId, index) {
                const proproductRowId = document.getElementById(`productRowId_${index}`)
                console.log('proproductRowId', proproductRowId);
                try {
                    fetch('/wishlist', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ proId })
                    })
                        .then(res => res.json())
                        .then((res) => {
                            console.log("Response:", res);
                            if (res.success) {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: "bottom",
                                    showConfirmButton: false,
                                    timer: 1800,
                                    timerProgressBar: false,
                                });
                                Toast.fire({
                                    icon: "success",
                                    title: "Product removed successfully"
                                })
                                proproductRowId.style.display = 'none'
                            }
                        })
                } catch (error) {
                    console.log(error);
                }
            }
        </script>
        <!-- Vendor JS-->
        <script src="/public/userAssets/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/public/userAssets/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/public/userAssets/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="/public/userAssets/assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="/public/userAssets/assets/js/plugins/slick.js"></script>
        <script src="/public/userAssets/assets/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/public/userAssets/assets/js/plugins/wow.js"></script>
        <script src="/public/userAssets/assets/js/plugins/jquery-ui.js"></script>
        <script src="/public/userAssets/assets/js/plugins/perfect-scrollbar.js"></script>
        <script src="/public/userAssets/assets/js/plugins/magnific-popup.js"></script>
        <script src="/public/userAssets/assets/js/plugins/select2.min.js"></script>
        <script src="/public/userAssets/assets/js/plugins/waypoints.js"></script>
        <script src="/public/userAssets/assets/js/plugins/counterup.js"></script>
        <script src="/public/userAssets/assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="/public/userAssets/assets/js/plugins/images-loaded.js"></script>
        <script src="/public/userAssets/assets/js/plugins/isotope.js"></script>
        <script src="/public/userAssets/assets/js/plugins/scrollup.js"></script>
        <script src="/public/userAssets/assets/js/plugins/jquery.vticker-min.js"></script>
        <!-- Template  JS -->
        <script src="/public/userAssets/assets/js/maind134.js?v=3.4"></script>
        <script src="/public/userAssets/assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->

</html>