<%-include('../head')-%>

<%-include('../header')-%>
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item" >
                                            <a class="nav-link " href="/user_account/dashboard"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link "  href="/user_account/orderList" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " id="walletId" href="/user_account/wallet" ><i class="fi-rs-shopping-cart-check mr-10"></i>Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/user_account/address"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active"  href="/user_account/user_details" ><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>User Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input  class="form-control square" name="name" value="<%=users.firstname %>" disabled="true" type="text" >
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input  class="form-control square" value="<%=users.lastname %>" disabled="true" name="phone">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input  class="form-control square" name="email" value="<%=users.email %>" disabled="true" type="email">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Mobile <span class="required">*</span></label>
                                                            <input  class="form-control square"  value="<%=users.mobile %>" disabled="true" >
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Date of Birth <span class="required">*</span></label>
                                                            <input  class="form-control square" name="npassword" value="<%=new Date(users.dob).toLocaleDateString()%>" disabled="true" >
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Password <span class="required">*</span></label>
                                                            <input  class="form-control square" name="password" value="12312312312" disabled="true" type="password">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <a class="btn" href="/user_account/user_details/edit">Edit</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
   
    <%-include('../foot') %>