<%-include('../head')-%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%-include('../header')-%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item" >
                                            <a class="nav-link " href="/user_account/dashboard"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link "  href="/user_account/orderList" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " id="walletId" href="/user_account/wallet" ><i class="fi-rs-shopping-cart-check mr-10"></i>Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  active" href="/user_account/address"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  href="/user_account/user_details" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                                <a class="btn btn-small mt-20" href="/user_account/add_address">Add address</a>
                            </div>
                            <div class="col-md-8 d-flex gap-4">
                                <div class="tab-content dashboard-content">
                                    <div id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row row-cols-1 row-cols-md-2 g-4" style="min-width: 400px;max-width: 500px;"> 
                                            <% if(address){ %>
                                                <% address.addresses.forEach((data)=>{ %>
                                                    <div class="col"> <!--Each address occupies one column-->
                                                        <div class="card h-100">
                                                            <div class="card-header d-flex justify-content-between">
                                                                <h5 class="mb-0"><%=count++ %>. Shipping Address</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <address style="min-height: 168px;">
                                                                    <%=data.name %><br>
                                                                    <%=data.address %>, <br><%=data.district %>,<br>
                                                                    Pincode: <%=data.pincode %> <br>
                                                                    <%=data.state %> <br>
                                                                    Phone: <%=data.mobile %>
                                                                </address>
                                                                <!-- <div class="d-flex gap-2">
                                                                    <a href="#" class="btn btn-small">Edit</a>
                                                                    <a href="/user_account/address/delete/<%=data._id %>" class="btn btn-small " 
                                                                    style="background-color: #dc3545 !important; border-color: #dc3545;" 
                                                                    onmouseover="this.style.backgroundColor='#c82333'" 
                                                                    onmouseout="this.style.backgroundColor='#dc3545'">Delete</a>
                                                                </div> -->
                                                                <div class="d-flex gap-2">
                                                                    <a href="/user_account/address/edit/<%=data._id %>" class="btn btn-small">Edit</a>
                                                                    <a class="btn btn-small " 
                                                                    style="background-color: #dc3545 !important; border-color: #dc3545;" 
                                                                    onmouseover="this.style.backgroundColor='#c82333'" 
                                                                    onmouseout="this.style.backgroundColor='#dc3545'" 
                                                                    onclick="deleteAddress('<%=data._id %>')">Delete</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                            <% }else{ %>
                                                <h4 style="margin-top: 3rem;">Address not found! Please add new address</h4>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
   <script>
    
    async function deleteAddress(addressId){
        fetch(`/user_account/address`,{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify({addressId})
        })
        .then((res)=>{
            return res.json()
        })
        .then((res)=>{
            if(res.success){
                Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Delete it!"
                    }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: "Deleted!",
                            text: "Address has been Deleted.",
                            icon: "success",
                            showConfirmButton:true,
                        })
                        .then((result)=>{
                            if(result.isConfirmed){
                                window.location.href = '/user_account/address'
                            }
                        })
                    }
                })
            }
        })
    }
   </script>
    <%-include('../foot') %>