<%-include('../head')-%>

<%-include('../header')-%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item" >
                                            <a class="nav-link" href="/user_account/dashboard"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link "  href="/user_account/orderList" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="walletId" href="/user_account/wallet" ><i class="fi-rs-shopping-cart-check mr-10"></i>Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/user_account/address"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  href="/user_account/user_details" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="walletId" >
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0 "style="text-align: center;">WALLET</h5>
                                            </div>
                                            <div class="card-body">
                                              <h6>AMOUNT: Rs <%=walletData?walletData.balance:0 %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content dashboard-content" style="margin-top: 100px;">
                                    <div class="tab-pane fade active show" >
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0" style="text-align: center;">WALLET HISTORY</h5>
                                            </div>
                                            
                                            <div class="card-body">
                                                <% if(walletData){ %>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Transaction Id</th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                            <!-- <th>Remarks</th> -->
                                                        </tr>
                                                    </thead>
                                                    
                                                    <% walletData.transactions.forEach((data)=>{ %>
                                                        <tr>
                                                            <td><%=data.id %></td>
                                                            <td><%=new Date(data.date).toLocaleDateString() %></td>
                                                            <td>Rs <%=data.amount %></td>
                                                            <td> <%=data.orderType %></td>
                                                            <!-- <td></td> -->
                                                        </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                                <% }else{ %>
                                                    <h4>No transactions!</h4>
                                                    <% } %>
                                            </div>
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-end">
                                                    <li class="page-item <%= currentPage <= 1 ? 'disabled' : '' %>">
                                                        <a class="page-link" href="?page=<%= parseInt(currentPage) - 1 %>" tabindex="-1">Previous</a>
                                                    </li>
                                                    
                                                    <li class="page-item disabled">
                                                        <a class="page-link" ><%= currentPage %></a>
                                                    </li>
                                                    <li class="page-item <%= currentPage >= totalPages ? 'disabled' : '' %>">
                                                        <a class="page-link" href="?page=<%= parseInt(currentPage)+1 %>">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
   
    <%-include('../foot') %>



