<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/adminAssets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/public/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="screen-overlay"></div>
    <%-include('../sideMenubar')-%>
        <main class="main-wrap">
            <%-include('../navbar')-%>
                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Products List</h2>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <header class="card-header">
                            <div class="row align-items-center">
                                <div class="col col-check flex-grow-0">
                                    <div class="form-check ms-2">
                                        <input class="form-check-input" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                    <select class="form-select">
                                        <option selected>All category</option>
                                        <option>Electronics</option>
                                        <option>Clothes</option>
                                        <option>Automobile</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-6">
                                    <input type="date" value="02.05.2021" class="form-control">
                                </div>
                                <div class="col-md-2 col-6">
                                    <select class="form-select">
                                        <option selected>Status</option>
                                        <option>Active</option>
                                        <option>Disabled</option>
                                        <option>Show all</option>
                                    </select>
                                </div>
                            </div>
                        </header> <!-- card-header end// -->
                        <div class="card-body">
                            <%if(productData){ %>
                                <% productData.forEach((data)=>{
                                    data.createdAt = new Date(data.createdAt).toLocaleDateString('en-GB');%>
                                    <article class="itemlist">
                                        <div class="row align-items-center">
                                            <div class="col col-check flex-grow-0">
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <% for(let i=0;i<1;i++){ %>
                                                            <img src="/uploads/<%=data.image[0] %>"
                                                                class="img-sm img-thumbnail" alt="Item">
                                                            <% } %>
                                                    </div>
                                                    <div class="info">
                                                        <h6 class="mb-0">
                                                            <%=data.title %>
                                                        </h6>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>
                                                    <%=data.price.regularPrice %>
                                                </span> </div>
                                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                                <% if(data.isBlocked){ %>
                                                    <span id="<%=data.title%>" class="badge rounded-pill alert-success">Inactive</span>
                                                    <% }else{ %>
                                                        <span id="<%=data.title%>" class="badge rounded-pill alert-success">Active</span>
                                                        <% } %>
                                            </div>
                                            <div style="width: 142px;" class="col-lg-1 col-sm-2 col-4 col-date">
                                                <span>
                                                    <%=new Date(data.createdAt).toLocaleDateString() %>
                                                </span>
                                            </div>
                                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                                <a href="/admin/productsList/editProduct/<%=data._id%>" class="btn btn-sm font-sm rounded btn-brand">
                                                    <i class="material-icons md-edit"></i> Edit
                                                </a>
                                                <% if(data.isBlocked){ %>
                                                    <a id="<%=data._id%>" class="btn btn-sm font-sm btn-light rounded" onclick="blockProduct('<%=data._id%>')">
                                                        <i class="material-icons md-delete_forever"></i> Unblock
                                                    </a>
                                                    <% }else{ %>
                                                        <a id="<%=data._id%>" class="btn btn-sm font-sm btn-light rounded"
                                                            onclick="blockProduct('<%=data._id%>')">
                                                            <i class="material-icons md-delete_forever"></i> Block
                                                        </a>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </article>
                                    <% }) %>
                                        <% } %>
                        </div> <!-- card-body end// -->
                    </div> <!-- card end// -->
                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">16</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i
                                            class="material-icons md-chevron_right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </section> <!-- content-main end// -->
                <footer class="main-footer font-xs">
                    <div class="row pb-30 pt-15">
                        <div class="col-sm-6">
                            <script>
                                document.write(new Date().getFullYear())
                            </script> ©, Evara - HTML Ecommerce Template .
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end">
                                All rights reserved
                            </div>
                        </div>
                    </div>
                </footer>
        </main>

        <script>
            async function blockProduct(productId) {
                try {
                    const response = await fetch(`/admin/productsList/productStatus/${productId}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })

                    console.log(response);
                    const data = await response.json()
                    console.log(data,'lllll');
                    if (data.blocked) {
                        let status = document.getElementById(data.title)
                        let button = document.getElementById(data.id)
                        status.innerHTML = 'Inactive'
                        button.innerHTML = 'Unblock'
                    }else{
                        let status = document.getElementById(data.title)
                        let button = document.getElementById(data.id)
                        console.log(status,'yyy');
                        status.innerHTML = 'Active'
                        button.innerHTML = 'Block'
                        // window.location.href = '/admin/productsList'
                    }
                } catch (error) {
                    console.log('error found while blocking products by admin', error);
                }
            }
        </script>

        <script src="/public/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/public/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/public/adminAssets/assets/js/vendors/select2.min.js"></script>
        <script src="/public/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/public/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/public/adminAssets/assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->

</html>