<%-include('../head') %>

<body>
    <div class="screen-overlay"></div>

    <!-----Side menu bar included -->
    <%-include('../sideMenubar')-%>

    <main class="main-wrap">

        <!-----Nav bar included----- -->
        <%-include('../navbar')-%>
        
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <form method="post" action="/admin/productsList/editProduct/<%=productData._id%>" id="productForm" enctype="multipart/form-data" >
                        <div>
                            <button type="submit"  class="btn btn-md rounded font-sm hover-up" >Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="productName" value="<%=productData.title %>">
                                    <p><div style="display: none;" id="nameError" class="text-danger"></div></p>
                                </div>
                                
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" id="product_des" name="productDes" ><%=productData.description %></textarea>
                                    <p><div style="display: none;" id="desError"class="text-danger" ></div></p>
                                </div>
                                        <div class="col-lg-4">
                                            <label class="form-label">Category</label>
                                            <select name="productCat" id="product_cat" class="form-select" value="<%=productData.category._id %>">
                                                <option selected value="<%=productData.category._id %>"><%=productData.category.name %></option>
                                            <%if(categories){ %>
                                                    <% categories.forEach((value)=>{ %>
                                                <option id="category_id" value="<%=value._id %>"><%=value.name %> </option>
                                            <% }) %>
                                            <% } %>
                                            </select>
                                            <p><div style="display: none;" id="catError"class="text-danger" ></div></p>
                                        </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input id="regular_price" name="regularPrice" type="text" class="form-control" value="<%=productData.price.regularPrice %>">
                                                <p><div style="display: none;" id="regPriceError" class="text-danger"></div></p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Offer price</label>
                                            <input id="offer_price" name="offerPrice" type="text" class="form-control" value="<%=productData.price.offerPrice %>">
                                            <p><div style="display: none;" id="offPriceError" class="text-danger"></div></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4 d-flex">
                                    <div>
                                        <label class="form-label" >Small</label>
                                        <input type="text" name="sizeS" class="form-control" id="small_size" style="width: 80%;" value="<%=productData.size.small.quantity %>">
                                        <p><div style="display: none;" id="smallError"class="text-danger"></div></p>
                                    </div>
                                    <div>
                                        <label class="form-label">Medium</label>
                                        <input type="text" name="sizeM" class="form-control" id="medium_size" style="width: 80%;" value="<%=productData.size.medium.quantity %>">
                                        <p><div style="display: none;" id="mediumError"class="text-danger"></div></p>
                                    </div>
                                    <div>
                                        <label class="form-label">Large</label>
                                        <input type="text" name="sizeL" class="form-control" id="large_size" style="width: 80%;" value="<%=productData.size.large.quantity %>">
                                        <p><div style="display: none;" id="largeError"class="text-danger"></div></p>
                                    </div>
                                    
                                </div>
                        </div>
                    </div> <!-- card end// -->
                   
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <!-- <div class="card-body">
                            <div class="input-upload">

                                <img src="/uploads/" alt="Add product images">

                                    <input id="image_id" name="image" class="form-control" type="file" >
                                <p><div style="display: none;" id="imageError" class="text-danger"></div></p>
                            </div>
                        </div> -->
                        <% for(let i=0; i < productData.image.length; i++) { %>
                            <div class="input-upload">
                                
                                <img src="/uploads/<%= productData.image[i] %>" alt="">
                                <span id="delete" onclick="deleteImage('<%= productData._id %>','<%= i %>')" style="cursor: pointer;" >Delete</span>
                                
                            </div>
                            <% } %>
                            <input id="image_id" name="image" class="form-control" type="file" accept="image/*" multiple>
                            <p><div style="display: none;" id="imageError" class="text-danger"></div></p>
                    </div> <!-- card end// -->
                </div>
                
            </form>
            <!-- </form>end -->
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Sleek Style Men's Fashion Store .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- -----------add product validation -->
    <script src="../../../public/adminAssets/assets/js/validation/addProductValidation.js"></script>

    <script>
        function deleteImage(id,index){

            console.log("clicked");
            fetch('/admin/productsList/editProduct/deleteImage',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({id,index})
            })
            .then(response => response.json()).then(data =>{
                console.log(data);
                if (data.success) {
                    window.location.reload()
                }
            })
        }

    </script>

    <script src="/public/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/adminAssets/assets/js/vendors/select2.min.js"></script>
    <script src="/public/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/public/adminAssets/assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>